@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

// cái thằng to
.container {
    @include flex_box_custom(center, center, 0px);
    // banner tự động đẩy lên trên ăn sát

    left: 0;
    right: 0;
}

.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between; //cách đều 2 bên
    height: 83px;
}

// css cho icon nằm ngang
.containerBoxIcon {
    @include flex_box_custom(center, center, 10px);
}
// menu ngang
.containerMenu {
    @include flex_box_custom(center, center, 40px);
}

// cả 2 khối ngang
.containerBox {
    @include flex_box_custom(center, center, 20px);
}

.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center, center, 0px);
    background-color: $primary_color;
    width: 26px;
    height: 26px;
}

// menu thẳng với icon
.menu {
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
    color: $primary_color;
}

// có thể hover được thanh công cụ, sử dụng lớp giả gạch chân
.menu::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $primary_color;
    margin-top: 6px;

    transform-origin: right;
    transform: scale(0);
    // trượt hết từ phải sang sẽ mất dần đi về 0
    opacity: 0;
    transition:
        transform 300ms,
        opacity 300ms;
}

.menu:hover::after {
    // khi hover vào thì ở đây phải rõ 1
    opacity: 1;
    transform: scale(1);
}

// khi chưa scroll thì header sẽ nằm ở vị trí ban đầu
.topHeader {
    position: absolute;
    top: 0;
}

// khi scroll xuống thì header sẽ dính vào trên cùng
.fixedHeader {
    position: fixed;
    top: -83px; //đẩy header lên trên để nó không hiển thị ngay lập tức khi scroll xuống
    background-color: #ffffffe6;
    box-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    z-index: 999; //lớp layer cao hơn để chồng lên các phần tử khác
    transform: translateY(
        83px
    ); //khi scroll xuống thì header sẽ trượt xuống vị trí ban đầu
    transition: transform 0.7s ease; // hiệu ứng trượt mượt mà khi scroll xuống
}
