@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
    @include flex_box_custom(center, center, 0px);

    flex-direction: column;
    background-color: $thr_color;
    margin-top: 20px;
    color: $white_color;
    padding: 50px 0;

    //phần menu
    .boxNav {
        @include flex_box_custom(center, center, 50px);
        font-size: 15px;

        //hình bàn tay
        :hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
}
